
/* .container {
    width: 734px;
    height: 610px;
    background-color: white;
    text-align: center;
} */

/* h1 {
    font-size: 48px;
    letter-spacing: 5px;
    padding: 24px;
}

form {
    width: 85%;
    background: rgb(230, 230, 230);
    margin: auto;
}

input {
    margin: 50px 10px 50px;
    padding: 10px;
    font-size: 15px;
}

button {
    background-color: #e15249;
    color: rgb(230, 230, 230);
    letter-spacing: 1px;
    border-radius: 2px;
    border: none;
    width: 15%;
    padding: 10px;
    font-size: 15px;
}

input[type="text"] {
    border-radius: 2px;
    border-color: black;
    width: 35%;
} */